@import url("https://fonts.googleapis.com/css2?family=Chewy&display=swap");
@import "tailwindcss/base";
@import "tailwindcss/components";
/* @import './base.css'; */
@import "tailwindcss/utilities";

.main {
    background-color: #E8E8E8;
    min-height: 100vh;
    font-family: "Chewy", system-ui;
    position: relative;
  }


/* globals.css */
@keyframes fade-in-out {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.animate-fade-in-out {
  animation: fade-in-out 2s ease-in-out forwards;
}
